{% extends 'base.jinja2' %}
{% block title %}Reported Issues{% endblock %}

{% block header %}Reported Issues{% endblock %}

{% block content %}
<div class="row row-header">
    {% set feds_all = true %}
    {% include 'federations-list.jinja2' %}
</div>
<div class="row">
    <div class="col-lg-12 tab-pane">
        <div class="card bg-white">
            <div class="card-header">
                <i class="fa-solid fa-coins fa-fw"></i>
                <div class="float-end">
                    <b>Federation: <span id="fedName" style="color:#D2691E"></span></b>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                     <button class="btn btn-success" name="edit" id="edit_issue" disabled="disabled"> Update </button>
                     <button class="btn btn-primary" name="edit" id="issue_details" disabled="disabled"> Show details </button>
                     <!--<button class="btn btn-danger" name="remove" id="removeis" disabled="disabled" > Remove </button>-->
                 </div>
                <table class="table table-striped table-bordered table-hover" id="reported_issues">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Federation</th> <!-- hidden-->
                            <th>Username</th>
                            <th>Query</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Created Date</th>
                        </tr>
                    </thead>
                    <!--<tfoot>-->
                        <!--<tr>-->
                            <!--<th>ID</th>-->
                            <!--<th>Federation</th> &lt;!&ndash; hidden&ndash;&gt;-->
                            <!--<th>Username</th>-->
                            <!--<th>Query</th>-->
                            <!--<th>Description</th>-->
                            <!--<th>Status</th>-->
                            <!--<th>Created Date</th>-->
                        <!--</tr>-->
                    <!--</tfoot>-->
                </table>
            </div>
        </div>
    </div>
</div>

{% include 'feedback/modal-details.jinja2' %}

<script src="{{ url_for('static', filename='js/feedback.js') }}" defer></script>

{% endblock %}
