{% extends 'base.html' %}
{% block title %}Dashboard SDM Federation{% endblock %}

{% block header %}Dashboard SDM Federation{% endblock %}

{% block content %}
<div class="row" id="summary-row">
    <div class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-sitemap fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><span id="total-federations">0</span></div>
                        <div>Federations!</div>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('federation.index') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-database fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><span id="total-data-sources">0</span></div>
                        <div>Data Sources!</div>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('federation.index') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cogs fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="total-rdfmts">0</div>
                        <div>RDF Molecules!</div>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('rdfmts.rdfmt') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-link fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="total-links-rdfmts">0</div>
                        <div>Links between RDF Molecules!</div>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('rdfmts.rdfmt') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row" id="content-row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="far fa-chart-bar fa-fw"></i> Federations Summary
                <div class="pull-right">
                    <a href="{{ url_for('federation.index') }}#All" class="btn btn-default" style="display: inline;">Details</a>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="federation-summary">
                <canvas id="federation-summary-chart"></canvas>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="far fa-chart-bar fa-fw"></i> Data Summary
                <div class="pull-right">
                        <a href="{{ url_for('federation.index') }}#home" class="btn btn-default" style="display: inline;">Details</a>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="data-summary">
                <canvas id="data-summary-chart"></canvas>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script>
$(document).ready(function() {
    let dsStats = JSON.parse('{{ dsStats | tojson | safe }}'),
        fedStats = JSON.parse('{{ fedStats | tojson | safe }}'),
        stats = JSON.parse('{{ stats | tojson | safe}}');
    setFederation(dsStats, fedStats);
    setStats(stats);
    $("#summary-row").show();
    $('#content-row').show();
});
</script>
{% endblock %}
