{% extends 'base.html' %}
{% block title %}Dashboard SDM Federation{% endblock %}

{% block header %}Dashboard SDM Federation{% endblock %}

{% block content %}
<div class="row" id="summaryrow">
    <div class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-sitemap fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><span id="totalfederations">0</span></div>
                        <div>Federations!</div>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('federation.index') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-database fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><span id="totaldatasources">0</span></div>
                        <div>Data Sources!</div>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('federation.index') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cogs fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="totalrdfmts">0</div>
                        <div>RDF Molecules!</div>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('rdfmts.rdfmt') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-link fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="totallinksbnrdfmts">0</div>
                        <div>Links between RDF Molecules!</div>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('rdfmts.rdfmt') }}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row" id="contentrow">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="far fa-chart-bar fa-fw"></i> Federations Summary
                <div class="pull-right">
                    <a href="{{ url_for('federation.index') }}#All" class="btn btn-default" style="display: inline;">Details</a>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="federation-summary">
                <canvas id="federation-summary-chart"></canvas>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="far fa-chart-bar fa-fw"></i> Data Summary
                <div class="pull-right">
                        <a href="{{ url_for('federation.index') }}#home" class="btn btn-default" style="display: inline;">Details</a>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="data-summary">
                <canvas id="data-summary-chart"></canvas>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
<script>
$(document).ready(function(){
    var nfeds = [];
    var nds = [];
    var ntpl = [];
    var nftm = [];
    var nprp = [];
    var nlnk = [];
    var ndict = {};
    var ntriples = {};
    var nrdftms = {};
    var nproperties = {};
    var nlinks = {};
    let dsStats = JSON.parse('{{ dsstats | tojson | safe }}');
    var nfd = JSON.parse('{{ federations | tojson | safe }}');
    for (let i = 0; i < nfd.length; i++) {
        if(ndict[nfd[i]['name']] == undefined){
            ndict[nfd[i]['name']] = 0;
            ntriples[nfd[i]['name']] = 0;
            nrdftms[nfd[i]['name']] = 0;
            nproperties[nfd[i]['name']] = 0;
            nlinks[nfd[i]['name']] = 0;
        }
        for (let j = 0; j < dsStats.length; j++) {
            if(dsStats[j]['uri'].toLowerCase().indexOf(nfd[i]['name'].toLowerCase()) > 0) {
                ndict[nfd[i]['name']]++;
                ntriples[nfd[i]['name']] = parseFloat(ntriples[nfd[i]['name']]) + parseFloat(dsStats[j]['triples']);
                nrdftms[nfd[i]['name']] = parseFloat(nrdftms[nfd[i]['name']]) + parseFloat(dsStats[j]['rdfmts']);
                nproperties[nfd[i]['name']] = parseFloat(nproperties[nfd[i]['name']]) + parseFloat(dsStats[j]['properties']);
                nlinks[nfd[i]['name']] = parseFloat(nlinks[nfd[i]['name']]) + parseFloat(dsStats[j]['links']);
            }
        }
    }
    for (var key in ndict) {
        if (ndict.hasOwnProperty(key)) {
            nds.push(ndict[key]);
            nfeds.push(key);
        }
    }
    for (var key in ntriples) {
        if (ntriples.hasOwnProperty(key)) {
            ntpl.push(ntriples[key]);
        }
    }
    for (var key in nrdftms) {
        if (nrdftms.hasOwnProperty(key)) {
            nftm.push(nrdftms[key]);
        }
    }
    for (var key in nproperties) {
        if (nproperties.hasOwnProperty(key)) {
            nprp.push(nproperties[key]);
        }
    }
    for (var key in nlinks) {
        if (nlinks.hasOwnProperty(key)) {
            nlnk.push(nlinks[key]);
        }
    }
    setFederation(dsStats, nfeds, nds, ntpl, nftm, nprp, nlnk);
    setStats(JSON.parse('{{ fedstats | tojson | safe}}'));
    $("#summaryrow").show();
    $('#contentrow').show();
});
</script>
{% endblock %}
