<!DOCTYPE html>
<head>
    <title>Register - FedSDM</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='css/fontawesome.all.min.css') }}" type="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/libs/jquery.bundle.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
</head>
<body>
<div id="wrapper">
    {% set sidebar = false %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Register</h3>
                    </div>
                    <div class="panel-body">
                        {% for message in get_flashed_messages() %}
                            <div class="flash"> {{ message }}</div>
                        {% endfor %}
                        <form role="form" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="username" name="username" type="text" autofocus required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" required>
                                </div>
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Register">
                                <a href="{{ url_for('auth.login') }}">Login</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>