<!DOCTYPE html>
<head>
    <title>{{ title }} - FedSDM</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS and Fontawesome -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/libs/jquery.bundle.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
</head>
<body>
<div id="wrapper">
    {% set sidebar = false %}
    {% include 'navbar.html' %}
    <div class="login-panel card bg-light">
        <div class="card-header">
            <h3 class="card-title">Please {% if operation == 'Login' %}Sign In{% else %}{{ operation }}{% endif %}</h3>
        </div>
        <div class="card-body">
            {% for message in get_flashed_messages() %}
                <div class="flash"> {{ message }}</div>
            {% endfor %}
            <form role="form" method="post">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="username" name="username" type="text" autofocus required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password" type="password" value="" required>
                    </div>
                    {% if operation == 'Login' %}
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                            </label>
                        </div>
                    {% endif %}
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="{{ operation }}">
                    <a href="{{ url_for('auth.' ~ other|lower ) }}">{{ other }}</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>