<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %} - Federated Semantic Data Manager</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static', filename='css/morris.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='css/fontawesome.all.min.css') }}" type="text/css">
    <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet" >
    <!-- DataTables CSS -->
    <link href="{{ url_for('static', filename='css/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/select.dataTables.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/buttons.dataTables.min.css') }}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/libs/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/jquery-ui.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename='js/libs/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/dataTables.select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/dataTables.buttons.min.js') }}"></script>
    <!-- Chart JavaScript -->
    <script src="{{ url_for('static', filename='js/libs/Chart.min.js') }}"></script>
    <!-- Morris Charts JavaScript -->
    <script src="{{ url_for('static', filename='js/libs/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/morris.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/libs/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libs/buttons.html5.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/menu-setup.js') }}"></script>
</head>
<body>
<div id="wrapper">
    {% set sidebar = true %}
    {% include 'navbar.html' %}

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block header %} {% endblock %}</h1>
                {% for message in get_flashed_messages() %}
                    <div class="flash"> {{ message }}</div>
                {% endfor %}
            </div>
            <!-- /.col-lg-12 -->
        </div>

        {% block content %} {% endblock %}

        <div style="display: flex; flex-flow: row"><div style="flex: 1 0 auto"></div></div> <!-- enlarge the page content to full size -->
    </div>
</div>
</body>