<div class="col-lg-4">
    <div class="form-group form-control-lg">
        <label for="federations-list" style="display: inline; vertical-align: middle; margin-right: 5px; line-height: normal !important;">Federation:</label>
        <select class="form-control" style="display: inline !important; vertical-align: middle; width: 80% !important; height: unset !important;" id="federations-list">
            <option value="">Please select a federation</option>
            {% for fed in federations %}
                {% if fed['uri'] == session['fed'] %}
                    <option value="{{ fed['uri'] }}" selected> {{ fed['name'] }}</option>
                {% else %}
                    <option value="{{ fed['uri'] }}"> {{ fed['name'] }}</option>
                {% endif %}
            {% endfor %}
            {% if feds_all %}
                <option value="All">All</option>
            {% endif %}
        </select>
    </div>
</div>