<div class="col-lg-4">
    <div class="form-group form-control-lg" style="padding: 0 1rem !important;">
        <label for="federations-list" id="federations-list-label">Federation:</label>
        <select class="form-control form-select" id="federations-list">
            <option value="">Please select a federation</option>
            {% for fed in federations %}
                {% if fed['uri'] == session['fed'] %}
                    <option value="{{ fed['uri'] }}" selected> {{ fed['name'] }}</option>
                {% else %}
                    <option value="{{ fed['uri'] }}"> {{ fed['name'] }}</option>
                {% endif %}
            {% endfor %}
            {% if feds_all %}
                <option value="All">All</option>
            {% endif %}
        </select>
    </div>
</div>