{% extends 'base.html' %}
{% block title %}Info{% endblock %}

{% block header %}Info{% endblock %}

{% block content %}
<div class="row">
    <div class="col" style="margin-bottom: 30px;">
        This dashboard has been implemented at <em>TIB Leibniz Information Centre for Science and Technology</em> by <em>Philipp D. Rohde</em> with support of <em>Masih Ghaderi</em> and <em>Nikoleta Themeliotou</em>.
    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="margin-bottom: 20px;">
        <h3 class="bottom-rule">Integrated Tools</h3>
    </div>
</div>
<div class="container-md">
    <div class="row align-items-center">
        <div class="col-auto text-center justify-content-center">
            <img src="https://raw.githubusercontent.com/SDM-TIB/DeTrusty/master/images/logo_high.png" alt="Logo" width="64px">
        </div>
        <div class="col-2">
            DeTrusty
        </div>
        <div class="col-3">
            <a href="https://github.com/SDM-TIB/DeTrusty" target="_blank"><img src="https://img.shields.io/badge/GitHub-SDM--TIB%2FDeTrusty-blue?logo=GitHub" alt="GitHub Repository"></a>
        </div>
        <div class="col-3">
            <a href="https://pypi.org/project/DeTrusty/0.12.3/" target="_blank"><img src="https://img.shields.io/badge/pypi-v0.12.3-orange" alt="Used Version"></a>
        </div>
        <div class="col-3">
            <a href="https://doi.org/10.5281/zenodo.8095810"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.8095810.svg" alt="Zenodo DOI"></a>
        </div>
    </div>
</div>
{% endblock %}
