<div class="col-nav px-sm-2 px-0 bg-light-gray">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white sidebar">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">
                <img src="{{ url_for('static', filename='images/Lynx_Logo.png') }}" alt="Logo Lynx" width="200px">
            </span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="{{ url_for('dashboard.get_all_stats') }}" class="nav-link align-middle px-0">
                    <i class="fs-6 fa-solid fa-tachometer-alt fa-fw"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('federation.index') }}" class="nav-link px-0 align-middle">
                    <i class="fs-6 fa-solid fa-sitemap fa-fw"></i> <span class="ms-1 d-none d-sm-inline">Federations</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('rdfmts.rdfmt') }}" class="nav-link px-0 align-middle">
                    <i class="fs-6 fa-solid fa-gears fa-fw"></i> <span class="ms-1 d-none d-sm-inline">RDF Molecule Templates</span></a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('query.query') }}" class="nav-link px-0 align-middle">
                    <i class="fs-6 fa-solid fa-search fa-fw"></i> <span class="ms-1 d-none d-sm-inline">Query</span>
                </a>
            </li>
        </ul>
        <hr>
        <ul class="nav nav-pills flex-column mt-sm-auto mb-0 align-items-center align-items-sm-start" id="menu2">
            <li class="nav-item">
                <a href="{{ url_for('info') }}" class="nav-link px-0 align-middle">
                    <i class="fs-6 fa-solid fa-circle-info fa-fw"></i> <span class="ms-1 d-none d-sm-inline">About Lynx FedSDM</span>
                </a>
            </li>
        </ul>
        <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa-solid fa-user fa-fw"></i>&nbsp;{% if g.user %}<span class="ms-1 d-none d-sm-inline">{{ g.user['username'] }}</span>&nbsp;{% endif %}&nbsp;<i class="fa-solid fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu bg-light-gray text-small shadow dropdown-user animated--fadeIn" id="user-dropdown">
                {% if g.user %}
                    <li><a href="#"><i class="fa-solid fa-user fa-fw"></i> User Profile</a></li>
                    <li><a href="#"><i class="fa-solid fa-user-cog fa-fw"></i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('auth.logout') }}"><i class="fa-solid fa-right-from-bracket fa-fw"></i> Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}"><i class="fa-solid fa-user-plus fa-fw"></i> Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}"><i class="fa-solid fa-right-to-bracket fa-fw"></i> Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>