@import "fontawesome.all.min.css";

html, body {
  background-color: #f8f8f8;
  height: 100%;
}
#wrapper {
  width: 100%;
  height: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: calc(100% - 51px);
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
#federations-list {
  display: inline !important;
  vertical-align: middle;
  width: 70% !important;
  height: unset !important;
}
#federations-list-label {
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 1rem;
  line-height: normal !important;
}
a {
  color: #337ab7;
}
a:hover {
  text-decoration: none;
  color: #23527c;
}
.navbar {
  padding: 0 !important;
}
.navbar-light {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-light .navbar-brand {
  color: #337ab7;
  font-size: 1.125rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1rem;
}
.navbar-light .navbar-brand:hover {
  color: #23527c;
}
.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.dropdown-toggle::after {
  margin-left: 0;
  border: 0;
  content: unset !important;
}
.dropdown-toggle:hover, .dropdown-toggle:focus {
  text-decoration: none;
  background-color: #eee;
  color: #23527c;
}
.dropdown-menu {
  padding: 0.3125rem 0;
  margin: 0.75rem 0 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu > li {
  font-size: 0.875rem;
}
.dropdown-menu > li > a {
  display: block;
  clear: both;
}
.dropdown-menu > li > a:hover {
  background-color: #f5f5f5;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
.nav-item {
  padding-left: 1rem;
}
.nav-link {
  font-size: 0.875rem;
  color: #337ab7 !important;
}
.nav-link:hover {
  color: #23527c !important;
  background-color: #eee;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 18px;
  }
}
.login-panel {
  margin-top: 6rem;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: "Font Awesome 5 Free", fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: "Font Awesome 5 Free", fontawesome;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: "Font Awesome 5 Free", fontawesome;
  color: rgba(50, 50, 50, 0.5);
}
.huge {
  font-size: 40px;
}
.required:after {
  content: ' *';
  color: red;
}
.bg-blue {
  background-color: #337ab7;
}
.bg-blue > a {
  color: #337ab7;
}
.bg-blue > a:hover {
  text-decoration: none;
  color: #23527c;
}
.bg-red {
  background-color: #d9534f;
}
.bg-red > a {
  color: #d9534f;
}
.bg-red > a:hover {
  text-decoration: none;
  color: #b52b27;
}
.bg-green {
  background-color: #5cb85c;
}
.bg-green > a {
  color: #5cb85c;
}
.bg-green > a:hover {
  text-decoration: none;
  color: #3d8b3d;
}
.bg-yellow {
  background-color: #f0ad4e;
}
.bg-yellow > a {
  color: #f0ad4e;
}
.bg-yellow > a:hover {
  text-decoration: none;
  color: #df8a13;
}
.bg-light > .card-header {
  background-color: #f5f5f5;
}
.bg-light > .card-body {
  background-color: white;
}
.card-footer, .card-header {
  padding: .5rem 1rem !important;
}
.card-footer, .card-body {
  font-size: 0.875rem;
}
.card-title {
  font-size: 1rem;
  margin-bottom: 0 !important;
}
.row-header {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}
.ui-dialog-titlebar-close {
  padding:0 !important;
}
.ui-dialog-titlebar-close:after {
  content: '';
  text-align: center;
  width: 19px;
  height: 20px;
  display: inline-block;
  /* Change path to image*/
  background-image: url(images/ui-icons_777777_256x240.png);
  background-position: -96px -128px;
  background-repeat: no-repeat;
}
.navbar-static-top {
  z-index: 1 !important;
}
.ui-widget-overlay {
  opacity: .3 !important;
  filter: Alpha(Opacity=30) !important; /* support: IE8 */
}
table.dataTable thead .sorting {
  background-image: unset !important;
}
table.dataTable thead .sorting_asc {
  background-image: unset !important;
}
table.dataTable thead .sorting_desc {
  background-image: unset !important;
}
table.dataTable thead .sorting_asc_disabled {
  background-image: unset !important;
}
table.dataTable thead .sorting_desc_disabled {
  background-image: unset !important;
}
#basic-statistics_wrapper {
  width: 99.8%;
}
.donut-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.donut-wrapper {
  width: 426px;
}
.donut-legend ul li span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.donut-legend {
  height: 396px;
  overflow: auto;
  width: 65%;
  margin-left: 50px;
}
.donut-legend ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.donut-legend ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  margin-bottom: 5px;
}
.donut-legend ul li p {
  margin: 5px 0 0 0 !important;
  padding: 0 !important;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
}
.donut-legend ul li.strike p {
  text-decoration: line-through !important;
  color: rgba(102, 102, 102, 0.5);
}
.btn-default {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-success:hover {
  background-color: #449d44;
  border-color: #398439;
}
.btn-success, .btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning, .btn-warning.disabled, .btn-warning:disabled {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-danger:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger, .btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn.disabled, .btn:disabled {
  cursor: not-allowed;
  opacity: .65;
  box-shadow: none;
}
#content-row {
  margin-top: 1.2rem;
}
.form-control {
  font-size: 0.875rem;
}
@keyframes growIn {
 0% {
  transform:scale(.9);
  opacity:0
 }
 100% {
  transform:scale(1);
  opacity:1
 }
}
.animated--grow-in {
  animation-name: growIn;
  animation-duration: .5s;
}
