{% extends 'base.html' %}
{% block title %}RDF-MTs{% endblock %}

{% block header %}RDF Molecule Templates (RDF-MTs){% endblock %}

{% block content %}
<div class="row row-header">
    {% set feds_all = true %}
    {% include 'federations-list.html' %}
</div>

<div class="row">
    <div class="col-lg-12">
        <!--begin tabs going in wide content -->
        <ul class="nav nav-tabs content-tabs" id="maincontent" role="tablist">
            <li class="active"><a href="#home" role="tab" data-toggle="tab">RDF-MTs Statistics</a></li>
            <li><a href="#visualize" role="tab" data-toggle="tab">Visualization</a></li>
            <li><a href="#analysis" role="tab" data-toggle="tab">Analysis</a></li>
        </ul>
        <!--/.nav-tabs.content-tabs -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa-solid fa-chart-column fa-fw"></i> RDF-MTs Statistics
                        <div class="form-group pull-right">
                            <button class="btn btn-primary" name="add" id="mtdetails" disabled > Show Details </button>
                            <button class="btn btn-primary" name="add" id="backtotable" style="display:none" > Back to RDF-MTs </button>
                            <button class="btn btn-primary" name="add" id="addmt" > Add </button>
                            <button class="btn btn-warning" name="add" id="editmt" disabled="disabled" > Edit </button>
                            <button class="btn btn-danger" name="add" id="removemt" disabled="disabled" > Remove </button>
                        </div>
                        <div class="pull-right" style="padding-right:2em">
                            <p><b>Federation: <span id="fedName" style="color:#D2691E"></span></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel-body" id="listofrdfmts">
                            <table style="width: 100%" class="table display table-striped table-bordered table-hover" id="rdfmtsdataTables">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>URI</th>
                                    <th>Instances</th>
                                    <th>Num. of Properties</th>
                                </tr>
                                </thead>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                    <div class="row" >
                        <div class="panel-body col-lg-12" id="mtviz"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="tab-pane fade" id="visualize">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa-solid fa-chart-column fa-fw"></i> RDF-MTs Visualization
                        <div class="pull-right" style="padding-left:2em">
                            <button type="button" class="btn btn-success" id="startforce">Expand</button>
                            <button type="button" class="btn btn-danger" id="stopforce">Stop</button>
                            <button type="button" class="btn btn-warning" id="resetforce">Reset</button>
                        </div>
                        <div class="pull-right" style="padding-left:2em">
                            <p><b>Federation: <span id="vfedName" style="color:#D2691E"></span></b></p>
                            <p><b>Data Source: <span id="vdsname" style="color:#D2691E"></span></b></p>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xl dropdown-toggle" data-toggle="dropdown">
                                    Select Viz Type
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu" id="viztype">
                                    <li><a href="#" id="graphVizForce">Force Graph</a></li>
                                    <li><a href="#" id="graphVizCircular">Circular Graph</a></li>
                                    <li class="divider"></li>
                                    <li ><a href="#" id="donutViz">Donut</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" id="datasourcesbtn" class="btn btn-default btn-xl dropdown-toggle" data-toggle="dropdown">
                                    Select Data Source
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu" id="datasources"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        <!-- /.panel-heading -->
                            <div id="graph-donut" class="col-lg-12 rdfmt alchemy" style="width: 426px; margin-left: 5%">
                                <canvas id="donut-chartjs"></canvas>
                            </div>
                            <div style="width: 65%; float: left">
                                <div id="donut-chartjs-legend" class="donut-legend"></div>
                            </div>
                            <div id="graph" class="col-lg-12 rdfmt alchemy"></div>
                        </div>
                        <div class="row">
                            <div>
                                <div id="legend"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="tab-pane fade" id="analysis">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa-solid fa-chart-column fa-fw"></i> Graph Analysis
                        <div class="pull-right" style="padding-left:2em">
                            <p><b>Federation: <span id="afedName" style="color:#D2691E"></span></b></p>
                            <p><b>Data Source: <span id="adsname" style="color:#D2691E"></span></b></p>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xl dropdown-toggle" data-toggle="dropdown">
                                    Select Data Source
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu" id="gadatasources"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-lg-6">
                            <div class="panel-body ">
                                <table class="table table-striped table-bordered table-hover" id="graph-analysis">
                                    <thead>
                                    <tr>
                                        <th style="width: 60%">Metric</th>
                                        <th style="width: 40%">Value</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/libs/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
<script src="{{ url_for('static', filename='js/rdfmtviz.js') }}"></script>
{% endblock %}
