{% extends 'base.html' %}
{% block title %}Federations{% endblock %}

{% block header %}Federations{% endblock %}

{% block content %}
<div class="row row-header">
    <div class="col-lg-4">
        <div class="form-group form-control-lg">
            <select class="form-control " id="federationslist">
                <option value="">Please select federation</option>
                {% for fed in federations %}
                    {% if fed['uri'] == session['fed'] %}
                        <option value="{{ fed['uri'] }}" selected> {{ fed['name'] }}</option>
                    {% else %}
                        <option value="{{ fed['uri'] }}"> {{ fed['name'] }}</option>
                    {% endif %}
                {% endfor %}
                <option value="All">All</option>
            </select>
        </div>
    </div>
    <div class="pull-right" style="padding-right: 15px">
        <button type="button" class="btn btn-success" name="CreateNewFed" id="CreateNewFed"> Create New Federation </button>
        <div id="my-form" title="Create New Federation" style="display:none">
            <p class="validateTips">Some fields are required.</p>
            <form method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="namecf" class="required">Name</label>
                        <input class="text ui-widget-content ui-corner-all" name="namecf" id="namecf" placeholder="Enter name of the new federation" value="{{ request.form['namecf'] }}" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="text ui-widget-content ui-corner-all"  name="description" style="resize: none; width: 100%" id="description" placeholder="Enter a short description of the Federation" rows="8"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="public">Public</label>
                        <input type="checkbox" value="1" name="public" id="public" checked=checked>
                    </div>
                    <span id="errormsg" style="color:red"></span>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:100%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>

<div class="row">
    <div class="col-lg-12">
        <!--begin tabs going in wide content -->
        <ul class="nav nav-tabs content-tabs" id="maincontent" role="tablist">
            <li id="dfe" class="active"><a href="#feder" role="tab" data-toggle="tab">Available Federations</a></li>
            <li id="dshome"><a href="#home" role="tab" data-toggle="tab">Available Data Sources</a></li>
            <li id="dsmanage"><a href="#manage" role="tab" data-toggle="tab">Manage Data Sources</a></li>
        </ul>
        <!--/.nav-tabs.content-tabs -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="feder">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-chart-bar fa-fw"></i> Basic Statistics
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form-group" style="text-align: right">
                            <button type="button" class="btn btn-success" name="AddFed" id="AddFed"> Add </button>
                            <button class="btn btn-warning" name="editfd" id="editfd" disabled="disabled" > Edit </button>
                            <button class="btn btn-danger" name="removefd" id="removefd" disabled="disabled" > Remove </button>
                        </div>
                        <div class="row">
                            <!-- /.col-lg-8 (nested) -->
                            <div class="col-lg-12">
                                <div>
                                    <table class="table table-bordered table-hover table-striped" id="federations-statistics">
                                        <thead>
                                        <tr>
                                            <th>Federation</th>
                                            <th>#Data Source</th>
                                            <th>#Triples</th>
                                            <th>#RDF-MTs</th>
                                            <th>#Proprties</th>
                                            <th>#Links</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!--/. #home-->
            <div class="tab-pane fade" id="home">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-chart-bar fa-fw"></i> Basic Statistics
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <!--<div id="morris-bar-chart"></div>-->
                                <canvas id="myChart"></canvas>
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                            <div class="col-lg-6">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="basic-statistics">
                                        <thead>
                                        <tr>
                                            <th style="width: 60%">Data Source</th>
                                            <th style="width: 20%">#RDF-MTs</th>
                                            <th style="width: 20%">#Triples</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-lg-4 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!--/. #home-->
            <div class="tab-pane fade" id="manage">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-coins fa-fw"></i> Data Sources
                        <div class="pull-right">
                            <p><b>Federation: <span id="mfedName" style="color:#D2691E"></span></b></p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form-group" style="text-align: right">
                            <button type="button" class="btn btn-success"
                                    name="add" id="addds" > Add </button>
                            <button class="btn btn-warning" name="edit" id="editds" disabled="disabled" > Edit </button>
                            <button class="btn btn-danger" name="remove" id="removeds" disabled="disabled" > Remove </button>
                            <button class="btn btn-primary" name="mapping" id="recomputemts" disabled="disabled" > Re-create MTs </button>
                            <button class="btn btn-primary" name="findlinks" id="findlinks" disabled="disabled" > Find Connection </button>
                            <button class="btn btn-primary" name="findalllinks" id="findalllinks"> Find All Connections </button>
                        </div>
                        <table style="width: 100%" class="table table-striped table-bordered table-hover display" id="datasources">
                            <thead>
                            <tr>
                                <th>ID</th> <!-- hidden-->
                                <th>Name</th>
                                <th>Endpoint</th>
                                <th>Endpoint-Type</th>
                                <th>Keywords</th> <!-- hidden-->
                                <th>Homepage</th>
                                <th>Organization</th>
                                <!--<th>Description</th>
                                <th>Version</th> &lt;!&ndash; hidden&ndash;&gt;
                                <th>Params</th> &lt;!&ndash; hidden&ndash;&gt;-->
                            </tr>
                            </thead>
                        </table>

                        <!-- /.table-responsive -->
                        <!--<div class="well">
                            <h4>DataTables Usage Information</h4>
                            <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                            <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                        </div>-->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!--/. #manage-->
        </div>
    </div>
</div>
<!-- /.row -->

<div id="add-form" title="Add New Data Source" style="display:none">
    <p class="validateTips">Some fields are required.</p>
    <form>
        <fieldset>
            <label for="name" class="required">Name</label>
            <input type="text" name="name" id="name" placeholder="DBpedia" class="text ui-widget-content ui-corner-all" required>

            <label for="desc">Short Description</label>
            <input type="text" name="label" id="desc" placeholder="DBpedia - a Public Data Infrastructure for a Large Semantic Knowledge Graph"
                   class="text ui-widget-content ui-corner-all">

            <label for="dstype" class="required">Data Source Type</label>
            <select name="dstype" id="dstype" class="form-control ui-widget-content ui-corner-all" required disabled>
                <option value="SPARQL_Endpoint" selected>SPARQL Endpoint</option>
                <!--            <option value="MongoDB">MongoDB</option>
                            <option value="Neo4j">Neo4j</option>
                            <option value="MySQL">MySQL</option>
                            <option value="SPARK_CSV">Hadoop CSV File</option>
                            <option value="SPARK_TSV">Hadoop TSV File</option>
                            <option value="SPARK_JSON">Hadoop JSON File</option>
                            <option value="SPARK_XML">Hadoop XML File</option>
                            <option value="LOCAL_CSV">Local CSV File</option>
                            <option value="LOCAL_TSV">Local TSV File</option>
                            <option value="LOCAL_JSON">Local JSON File</option>
                            <option value="LOCAL_XML">Local XML File</option>
                            <option value="REST_Service">REST Service</option> -->
            </select>

            <label for="URL" class="required">URL</label>
            <input type="url" name="URL" id="URL" placeholder="http://dbpedia.org/sparql" class="text ui-widget-content ui-corner-all" required>

            <label for="params">Parameters (key-value):</label>
            <input type="text"
                   name="params" id="params"
                   placeholder="username:user1;password:1234;timeout:100000;Content-type:application/json"
                   class="text ui-widget-content ui-corner-all">

            <label for="keywords">Keywords:</label>
            <input type="text" name="keywords" id="keywords" placeholder="Enter keywords" class="text ui-widget-content ui-corner-all">

            <label for="homepage">Homepage:</label>
            <input type="text" name="homepage" id="homepage" placeholder="Homepage of dataset" class="text ui-widget-content ui-corner-all">

            <label for="organization">Organization:</label>
            <input type="text" name="organization" id="organization" placeholder="Organization name" class="text ui-widget-content ui-corner-all">

            <label for="version">Version:</label>
            <input type="text" name="version" id="version" placeholder="Dataset version" class="text ui-widget-content ui-corner-all">

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>

</div>
<!-- end of add dialog -->
<div id="editdsdialog" title="Edit Data Source" style="display:none">
    <p class="validateTips">Some fields are required.</p>
    <form method="get" action="/action_page.php">
        <fieldset>
            <label for="ename" class="required">Name</label>
            <input type="text" name="ename" id="ename" placeholder="DBpedia" class="text ui-widget-content ui-corner-all" readonly>
            <label for="elabel">Short Description</label>
            <input type="text" name="elabel" id="elabel" placeholder="DBpedia - Towards a Public Data Infrastructure for a Large, Multilingual, Semantic Knowledge Graph" class="text ui-widget-content ui-corner-all">
            <label for="edstype">Data Source Type</label>
            <select name="edstype" id="edstype" class="form-control ui-widget-content ui-corner-all" required>
                <option value="SPARQL_Endpoint" selected>SPARQL Endpoint</option>
            </select>
            <label for="eURL" class="required">URL</label>
            <input type="url" name="eURL" required id="eURL" placeholder="http://dbpedia.org/sparql" class="text ui-widget-content ui-corner-all">
            <label for="eparams">Parameters (key-value):</label>
            <input type="text" name="eparams" id="eparams" placeholder="timeout:100000;Content-type:application/json" class="text ui-widget-content ui-corner-all">

            <label for="ekeywords">Keywords:</label>
            <input type="text" name="ekeywords" id="ekeywords" placeholder="Enter keywords" class="text ui-widget-content ui-corner-all">

            <label for="ehomepage">Homepage:</label>
            <input type="text" name="ehomepage" id="ehomepage" placeholder="Homepage of dataset" class="text ui-widget-content ui-corner-all">

            <label for="eorganization">Organization:</label>
            <input type="text" name="eorganization" id="eorganization" placeholder="Organization name" class="text ui-widget-content ui-corner-all">

            <label for="eversion">Version:</label>
            <input type="text" name="eversion" id="eversion" placeholder="Dataset version" class="text ui-widget-content ui-corner-all">
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
        </fieldset>
    </form>
</div>
<!-- end of edit dialog -->
<script src="{{ url_for('static', filename='js/federations.js') }}"></script>
<script>
    $(document).ready(function(){
        let nfeds = [],
            nds = [],
            ntpl = [],
            nftm = [],
            nprp = [],
            nlnk = [];
        let ndict = {},
            ntriples = {},
            nrdftms = {},
            nproperties = {},
            nlinks = {};
        let federations = JSON.parse('{{ dsstats | tojson | safe }}');
        let nfd = JSON.parse('{{ federations | tojson | safe }}');
        for (let i = 0; i < nfd.length; i++) {
            if (ndict[nfd[i]['name']] === undefined) {
                ndict[nfd[i]['name']] = 0;
                ntriples[nfd[i]['name']] = 0;
                nrdftms[nfd[i]['name']] = 0;
                nproperties[nfd[i]['name']] = 0;
                nlinks[nfd[i]['name']] = 0;
            }
            for (let j = 0; j < federations.length; j++) {
                if(federations[j]['uri'].toLowerCase().indexOf(nfd[i]['name'].toLowerCase()) > 0) {
                    ndict[nfd[i]['name']]++;
                    ntriples[nfd[i]['name']] = parseFloat(ntriples[nfd[i]['name']]) + parseFloat(federations[j]['triples']);
                    nrdftms[nfd[i]['name']] = parseFloat(nrdftms[nfd[i]['name']]) + parseFloat(federations[j]['rdfmts']);
                    nproperties[nfd[i]['name']] = parseFloat(nproperties[nfd[i]['name']]) + parseFloat(federations[j]['properties']);
                    nlinks[nfd[i]['name']] = parseFloat(nlinks[nfd[i]['name']]) + parseFloat(federations[j]['links']);
                }
            }
        }
        for (let key_ndict in ndict) {
            if (ndict.hasOwnProperty(key_ndict)) {
                nds.push(ndict[key_ndict]);
                nfeds.push(key_ndict);
            }
        }
        for (let key_ntriples in ntriples) {
            if (ntriples.hasOwnProperty(key_ntriples)) {
                ntpl.push(ntriples[key_ntriples]);
            }
        }
        for (let key_nrdftms in nrdftms) {
            if (nrdftms.hasOwnProperty(key_nrdftms)) {
                nftm.push(nrdftms[key_nrdftms]);
            }
        }
        for (let key_nproperties in nproperties) {
            if (nproperties.hasOwnProperty(key_nproperties)) {
                nprp.push(nproperties[key_nproperties]);
            }
        }
        for (let key_nlinks in nlinks) {
            if (nlinks.hasOwnProperty(key_nlinks)) {
                nlnk.push(nlinks[key_nlinks]);
            }
        }
        federationOverview(federations, nfeds, nds, ntpl, nftm, nprp, nlnk);
        let activeTab = window.location.hash;
        if (activeTab) {
            if (activeTab === "#home") {
                $('#maincontent a[href="#home"]').click();
                $('#federationslist').val('All');
                $('#federationslist').change();
            }
            else if (activeTab === "#All") {
                $('#maincontent a[href="#feder"]').click();
            }
        }
    });
</script>
{% endblock %}
