{% extends 'base.html' %}
{% block title %}Federations{% endblock %}

{% block header %}Federations{% endblock %}

{% block content %}
<div class="row row-header">
    {% set feds_all = true %}
    {% include 'federations-list.html' %}
    <div style="width: auto; margin-left: auto; padding-right: 15px;">
        <button type="button" class="btn btn-success" name="CreateNewFed" id="CreateNewFed" data-bs-toggle="modal" data-bs-target="#federationModal"> Create New Federation </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <!--begin tabs going in wide content -->
        <ul class="nav nav-tabs content-tabs" id="maincontent" role="tablist">
            <li id="dfe" class="nav-item"><a href="#feder" class="nav-link active" role="tab" data-bs-toggle="tab">Available Federations</a></li>
            <li id="dshome" class="nav-item"><a href="#home" class="nav-link" role="tab" data-bs-toggle="tab">Available Data Sources</a></li>
            <li id="dsmanage" class="nav-item"><a href="#manage" class="nav-link" role="tab" data-bs-toggle="tab">Manage Data Sources</a></li>
        </ul>
        <!--/.nav-tabs.content-tabs -->
        <div class="tab-content">
            <div class="tab-pane fade in active show" id="feder">
                <div class="card bg-light">
                    <div class="card-header">
                        <i class="fa-solid fa-chart-column fa-fw"></i> Basic Statistics
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group" style="text-align: right">
                            <button type="button" class="btn btn-success" name="AddFed" id="AddFed" data-bs-toggle="modal" data-bs-target="#federationModal">Add</button>
                            <button class="btn btn-warning" name="editfd" id="editfd" disabled>Edit</button>
                            <button class="btn btn-danger" name="removefd" id="removefd" disabled>Remove</button>
                        </div>
                        <div class="row">
                            <!-- /.col-lg-8 (nested) -->
                            <div class="col-lg-12">
                                <div>
                                    <table class="table table-bordered table-hover table-striped" id="federations-statistics">
                                        <thead>
                                        <tr>
                                            <th>Federation</th>
                                            <th>#Data Source</th>
                                            <th>#Triples</th>
                                            <th>#RDF-MTs</th>
                                            <th>#Proprties</th>
                                            <th>#Links</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!--/. #home-->
            <div class="tab-pane fade" id="home">
                <div class="card bg-light">
                    <div class="card-header">
                        <i class="fa-solid fa-chart-column fa-fw"></i> Basic Statistics
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div id="sourceStatsChartContainer" class="col-lg-6">
                                <canvas id="sourceStatsChart"></canvas>
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                            <div class="col-lg-6">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="basic-statistics">
                                        <thead>
                                        <tr>
                                            <th style="width: 60%">Data Source</th>
                                            <th style="width: 20%">#RDF-MTs</th>
                                            <th style="width: 20%">#Triples</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-lg-4 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!--/. #home-->
            <div class="tab-pane fade" id="manage">
                <div class="card bg-light">
                    <div class="card-header">
                        <i class="fa-solid fa-coins fa-fw"></i> Data Sources
                        <div class="float-end">
                            <b>Federation: <span id="mfedName" style="color:#D2691E"></span></b>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group" style="text-align: right">
                            <button type="button" class="btn btn-success" name="add" id="addds" data-bs-toggle="modal" data-bs-target="#addSourceModal">Add</button>
                            <button class="btn btn-warning" name="edit" id="editds" disabled data-bs-toggle="modal" data-bs-target="#editSourceModal">Edit</button>
                            <button class="btn btn-danger" name="remove" id="removeds" disabled>Remove</button>
                            <button class="btn btn-primary" name="mapping" id="recomputemts" disabled>Re-create MTs</button>
                            <button class="btn btn-primary" name="findlinks" id="findlinks" disabled>Find Connection</button>
                            <button class="btn btn-primary" name="findalllinks" id="findalllinks">Find All Connections</button>
                        </div>
                        <table style="width: 100%" class="table table-bordered table-hover table-striped" id="datasources">
                            <thead>
                            <tr>
                                <th>ID</th> <!-- hidden-->
                                <th>Name</th>
                                <th>Endpoint</th>
                                <th>Endpoint Type</th>
                                <th>Keywords</th>
                                <th>Homepage</th>
                                <th>Organization</th>
                                <!--<th>Description</th>
                                <th>Version</th> &lt;!&ndash; hidden&ndash;&gt;
                                <th>Params</th> &lt;!&ndash; hidden&ndash;&gt;-->
                            </tr>
                            </thead>
                        </table>

                        <!-- /.table-responsive -->
                        <!--<div class="well">
                            <h4>DataTables Usage Information</h4>
                            <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                            <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                        </div>-->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!--/. #manage-->
        </div>
    </div>
</div>
<!-- /.row -->

{% include 'federation/modal-federation-create.html' %}
{% include 'federation/modal-source-add.html' %}
{% include 'federation/modal-source-edit.html' %}

<script src="{{ url_for('static', filename='js/colors.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/federations.js') }}"></script>
<script>
$(function() {
    let federations = JSON.parse('{{ fedStats | tojson | safe }}');
    federationOverview(federations);

    let activeTab = window.location.hash;
    if (activeTab) {
        if (activeTab === "#home") {
            $('#maincontent a[href="#home"]').trigger("click");
            $('#federations-list').val('All')
                                  .change();
        }
        else if (activeTab === "#All") {
            $('#maincontent a[href="#feder"]').trigger("click");
        }
    }
});
</script>
{% endblock %}
