{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Federations{% endblock %}</h1>
    {% if g.user %}
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group form-control-lg">
                    <select class="form-control " id="federationslist">
                        <option value="">Please select federation</option>
                        {% for fed in federations %}
                            {% if fed['uri'] == session['fed'] %}
                                <option value="{{ fed['uri'] }}" selected> {{ fed['name'] }}</option>
                            {% else %}
                                <option value="{{ fed['uri'] }}"> {{ fed['name'] }}</option>
                            {% endif %}
                        {% endfor %}
                        <option value="All">All</option>
                    </select>
                </div>
            </div>
            <div class="pull-right">
                    <a class="action btn btn-primary" href="{{ url_for('federation.create') }}">Create New Federation</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }

</style>
<div class="row">
    <div class="col-lg-12">
        <!--begin tabs going in wide content -->
       <ul class="nav nav-tabs content-tabs" id="maincontent" role="tablist">
          <li class="active" id="dshome"><a href="#home" role="tab" data-toggle="tab">Available DataSources</a></li>
          <li id="dsmanage"><a href="#manage" role="tab" data-toggle="tab">Manage DataSources</a></li>
       </ul>
       <!--/.nav-tabs.content-tabs -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="home">
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Basic Statistics
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                             <div class="col-lg-6">
                                <!--<div id="morris-bar-chart"></div>-->
                                 <canvas id="myChart"></canvas>
                            </div>
                            <!-- /.col-lg-8 (nested) -->
                            <div class="col-lg-6">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="basic-statistics">
                                        <thead>
                                            <tr>
                                                <th>Data Source</th>
                                                <th>#RDF-MTs</th>
                                                <th>#Triples</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-lg-4 (nested) -->

                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!--/. #home-->
            <div class="tab-pane fade" id="manage">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-database fa-2x"></i><i class="fa fa-database fa-2x"></i><i class="fa fa-database fa-2x"></i>
                        <div class="pull-right">
                            <p><b>Federation:<span id="mfedName" style="color:#D2691E"></span></b></p>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="form-group" align="right">
                            <button type="button" class="btn btn-success"
                                    name="add" id="addds" > Add </button>
                             <button class="btn btn-warning" name="edit" id="editds" disabled="disabled" > Edit </button>
                             <button class="btn btn-danger" name="remove" id="removeds" disabled="disabled" > Remove </button>

                            <button class="btn btn-primary" name="mapping" id="recomputemts" disabled="disabled" > Re-create MTs </button>
                             <button class="btn btn-primary" name="findlinks" id="findlinks" disabled="disabled" > Find Connection </button>
                            <button class="btn btn-primary" name="findalllinks" id="findalllinks"> Find All Connections </button>
                        </div>
                        <table width="100%" class="table table-striped table-bordered table-hover display" id="datasources">
                            <thead>
                                <tr>
                                    <th>ID</th> <!-- hidden-->
                                    <th>Name</th>
                                    <th>Endpoint</th>
                                    <th>Endpoint-Type</th>
                                    <th>Keywords</th> <!-- hidden-->
                                    <th>Homepage</th>
                                    <th>Organization</th>
                                    <!--<th>Description</th>
                                    <th>Version</th> &lt;!&ndash; hidden&ndash;&gt;
                                    <th>Params</th> &lt;!&ndash; hidden&ndash;&gt;-->
                                </tr>
                            </thead>

                        </table>

                        <!-- /.table-responsive -->
                        <!--<div class="well">
                            <h4>DataTables Usage Information</h4>
                            <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                            <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                        </div>-->
                    </div>
                    <!-- /.panel-body -->
                </div>
                 <!-- /.panel -->
            </div>
            <!--/. #manage-->
        </div>
    </div>
</div>
<!-- /.row -->

<div id="add-form" title="Add New Data Source"  style="display:none">
    <p class="validateTips">Some fields are required.</p>
    <form>
        <fieldset>
      <label for="name">Name <span style="color:red">*</span></label>
      <input type="text" name="name" id="name" placeholder="DBpedia" class="text ui-widget-content ui-corner-all" required>

      <label for="desc">Short Description</label>
      <input type="text" name="label" id="desc" placeholder="DBpedia - a Public Data Infrastructure for a Large Semantic Knowledge Graph"
             class="text ui-widget-content ui-corner-all">

      <label for="dstype">Data Source Type <span style="color:red">*</span></label>
        <select name="dstype" required="required" id="dstype" class="form-control ui-widget-content ui-corner-all">
            <option value="SPARQL_Endpoint" selected>SPARQL Endpoint</option>
            <option value="MongoDB">MongoDB</option>
            <option value="Neo4j">Neo4j</option>
            <option value="MySQL">MySQL</option>
            <option value="SPARK_CSV">Hadoop CSV File</option>
            <option value="SPARK_TSV">Hadoop TSV File</option>
            <option value="SPARK_JSON">Hadoop JSON File</option>
            <option value="SPARK_XML">Hadoop XML File</option>
            <option value="LOCAL_CSV">Local CSV File</option>
            <option value="LOCAL_TSV">Local TSV File</option>
            <option value="LOCAL_JSON">Local JSON File</option>
            <option value="LOCAL_XML">Local XML File</option>
            <option value="REST_Service">REST Service</option>
        </select>

      <label for="URL">URL <span style="color:red">*</span> </label>
      <input type="url" name="URL" id="URL" placeholder="http://dbpedia.org/sparql" class="text ui-widget-content ui-corner-all" required>

      <label for="params">Parameters(key-value):</label>
      <input type="text"
             name="params" id="params"
             placeholder="username:user1;password:1234;timeout:100000;Content-type:application/json"
             class="text ui-widget-content ui-corner-all">

      <label for="keywords">Keywords:</label>
      <input type="text" name="keywords" id="keywords" placeholder="Enter keywords" class="text ui-widget-content ui-corner-all">

      <label for="homepage">Homepage:</label>
      <input type="text" name="homepage" id="homepage" placeholder="Homepage of dataset" class="text ui-widget-content ui-corner-all">

      <label for="organization">Organization:</label>
      <input type="text" name="organization" id="organization" placeholder="Organization name" class="text ui-widget-content ui-corner-all">

      <label for="version">Version:</label>
      <input type="text" name="version" id="version" placeholder="Dataset version" class="text ui-widget-content ui-corner-all">

      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
    </form>

</div>
<!-- end of add dialog -->

<div id="editdsdialog" title="Edit Data Source" style="display:none">
  <p class="validateTips">* fields are required.</p>
  <form>
    <fieldset>
      <label for="ename">Name</label>
      <input type="text" name="ename" id="ename" required="required" placeholder="DBpedia" class="text ui-widget-content ui-corner-all">
      <label for="elabel">Short Description</label>
      <input type="text" name="elabel" id="elabel" placeholder="DBpedia - Towards a Public Data Infrastructure for a Large, Multilingual, Semantic Knowledge Graph"
             class="text ui-widget-content ui-corner-all">
      <label for="edstype">Data Source Type</label>
        <select name="edstype" required="required" id="edstype" class="form-control ui-widget-content ui-corner-all">
            <option value="SPARQL_Endpoint" selected>SPARQL Endpoint</option>
            <option value="MongoDB">MongoDB</option>
            <option value="Neo4j">Neo4j</option>
            <option value="MySQL">MySQL</option>
            <option value="SPARK_CSV">Hadoop CSV File</option>
            <option value="SPARK_TSV">Hadoop TSV File</option>
            <option value="SPARK_JSON">Hadoop JSON File</option>
            <option value="SPARK_XML">Hadoop XML File</option>
            <option value="LOCAL_CSV">Local CSV File</option>
            <option value="LOCAL_TSV">Local TSV File</option>
            <option value="LOCAL_JSON">Local JSON File</option>
            <option value="LOCAL_XML">Local XML File</option>
            <option value="REST_Service">REST Service</option>
        </select>
      <label for="eURL">URL</label>
      <input type="url" name="eURL" required="required" id="eURL" placeholder="http://dbpedia.org/sparql" class="text ui-widget-content ui-corner-all">
      <label for="eparams">Parameters(key-value):</label>
      <input type="text" name="eparams" id="eparams" placeholder="timeout:100000;Content-type:application/json" class="text ui-widget-content ui-corner-all">

      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
<!-- end of edit dialog -->

<script src="{{ url_for('static', filename='js/federations.js') }}"></script>


{% endblock %}
