<div class="modal fade" id="editSourceModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Data Source</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="validateTips">Some fields are required.</p>
                <form>
        <fieldset>
            <label for="edit_name" class="required">Name</label>
            <input type="text" name="edit_name" id="edit_name" placeholder="DBpedia" class="text ui-widget-content ui-corner-all" readonly>
            <label for="edit_desc">Short Description</label>
            <input type="text" name="edit_label" id="edit_desc" placeholder="DBpedia - Towards a Public Data Infrastructure for a Large, Multilingual, Semantic Knowledge Graph" class="text ui-widget-content ui-corner-all">
            <label for="edit_ds_type">Data Source Type</label>
            <select name="edit_ds_type" id="edit_ds_type" class="form-control form-select ui-widget-content ui-corner-all" required>
                <option value="SPARQL_Endpoint" selected>SPARQL Endpoint</option>
            </select>
            <label for="edit_URL" class="required">URL</label>
            <input type="url" name="edit_URL" required id="edit_URL" placeholder="http://dbpedia.org/sparql" class="text ui-widget-content ui-corner-all">

            <label for="edit_params">Parameters (key-value):</label>
            <input type="text" name="edit_params" id="edit_params" placeholder="timeout:100000;Content-type:application/json" class="text ui-widget-content ui-corner-all">

            <label for="edit_types">RDF classes to include (separated by semicolon):</label>
            <input type="text" name="edit_types" id="edit_types" placeholder="leave empty to include all RDF classes" class="text ui-widget-content ui-corner-all">

            <label for="edit_keywords">Keywords:</label>
            <input type="text" name="edit_keywords" id="edit_keywords" placeholder="Enter keywords" class="text ui-widget-content ui-corner-all">

            <label for="edit_homepage">Homepage:</label>
            <input type="text" name="edit_homepage" id="edit_homepage" placeholder="Homepage of dataset" class="text ui-widget-content ui-corner-all">

            <label for="edit_organization">Organization:</label>
            <input type="text" name="edit_organization" id="edit_organization" placeholder="Organization name" class="text ui-widget-content ui-corner-all">

            <label for="edit_version">Version:</label>
            <input type="text" name="edit_version" id="edit_version" placeholder="Dataset version" class="text ui-widget-content ui-corner-all">

            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
            </div>
            <div class="modal-footer">
                <button id="edit-source-btn" type="button" class="btn btn-success">Update Data Source</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>