{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ federation['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or federation['name'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] or federation['description'] }}</textarea>
    <label for="public">Public</label>
    <input type="checkbox" value="{{ request.form['public'] or federation['public'] }}" name="public" id="public"  checked=checked>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('federation.delete', id=federation['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}