{% extends 'base.html' %}
{% block title %}RML-Mapping{% endblock %}

{% block header %}
    {% if g.user %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Mapping</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            {% set feds_all = true %}
            {% include 'federations-list.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}

<!-- ================ Datasources in a federation list table -================ -->
<div class="row"  id="datasourcerow">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa-solid fa-bar-chart-o fa-fw"></i> Data Sources
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="form-group" align="right">
                <button class="btn btn-primary" name="add" id="showcollectionsbtn"  disabled="disabled"> Show Collections </button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="availabledatasources">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Endpoint</th>
                                    <th>Endpoint-Type</th>
                                    <th>Keywords</th>
                                    <th>Homepage</th>
                                    <th>Organization</th>
                                    <!--<th>Description</th>
                                    <th>Version</th>
                                    <th>Params</th>-->
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.col-lg-4 (nested) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- end Data sources row -->
<!-- ================ Documents list in a data source - table -================ -->
<div class="row" id="collectionsrow"  style="display:none" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa-solid fa-bar-chart-o fa-fw"></i> Collections: <b><span id="datasourcename" style="color:green"></span> </b>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="form-group" align="right">
                <button class="btn btn-success" name="createmappingbtn" id="createmappingbtn"  disabled="disabled"> Create Mapping </button>
                <button class="btn btn-primary" name="backtodstable" id="backtodstablebtn"> &nbsp;&nbsp;&nbsp;&lt;Back &nbsp;&nbsp;&nbsp; </button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive" id="collsinfotablediv">
                        <table class="table table-bordered table-hover table-striped" id="collsinfotable">
                            <thead id="collsinfotableheader">
                                <tr> <th>Document</th><th>Size</th><th>Database</th></tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /.col-lg-4 (nested) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- end Collections row-->
<!-- ================ RML mapping and Collection previews -================ -->
<div class="row" id="mappingrow"  style="display:none">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa-solid fa-chart-column fa-fw"></i> Mapping <br/>
        </div>
        <div class="panel-body" id="mappingform">
            <div class="form-group" align="right">
                <button class="btn btn-primary" name="backtocollectionstable" id="backtocollectionstablebtn"> &nbsp;&nbsp;&nbsp;&lt;Back &nbsp;&nbsp;&nbsp; </button>
            </div>
            <div class="row">
                <div class="row col-lg-12"  id="sampledoctablediv" >
                    <div class="well col-lg-5">
                        <h4>Data Source: <b><span  style="color:#D2691E" id="dsname"></span></b></h4>
                        <div class="form-group form-control-lg">
                            <label id="selectedactiveSubjID" for="activeSubjectID"></label>
                            <select class="form-control " id="activeSubjectID" disabled> </select>
                        </div>
                        <!-- end: subject map drop down -->
                        <div class="form-group">
                            <label>RML Mappings for: <b><span id="docname" style="color:red"></span></b> document</label>
                            <textarea class="form-control" rows="15" id="mappingtextarea"></textarea>
                            <button type="submit" class="btn btn-success" id="saveMappingBtn">Save </button>
                            <button type="reset" class="btn btn-default" id="resetMappingBtn">Reset</button>
                        </div>
                        <!--end: mapping textarea -->
                    </div>
                    <!-- /. mapping textarea -->
                    <div class="table-responsive col-lg-6">
                        <button type="submit" class="btn btn-primary" id="selectsubjcol">Select Subject Column </button>
                        <button type="submit" class="btn btn-primary" id="selectpredobjbtn">Add Predicate Map </button>
                        <table class="table table-bordered table-hover table-striped" id="sampledoctable">
                            <thead id="sampledoctableheader">
                            </thead>
                        </table>
                    </div>
                    <!-- /. table-responsive -->
                </div>
                <!-- /.col-lg-12 (nested) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.panel-body-->
    </div>
    <!-- /.panel-->
</div>
<!-- end Mapping row -->

<div id="subjcol-dialog" title="Select Subject Column" style="display:none">
      <p class="validateTips">All form fields are required.</p>
      <form>
        <fieldset>
            <div class="form-group">
                <label for="columnNames">Subject Column:</label>
                <select name="columnNames" required="required" id="columnNames" class="form-control ui-widget-content ui-corner-all">
                </select>
            </div>
            <div class="form-group">
              <label for="subjtemp">Subject Template:</label>
              <input type="text" name="subjtemp" id="subjtemp" placeholder="Enter prefix for this entity" class="form-control text ui-widget-content ui-corner-all">
            </div>
            <div class="form-group">
              <label for="subjclass">Subject Class:</label>
              <input type="text" name="subjclass" id="subjclass" placeholder="Enter RDF Class of this subject" class="form-control text ui-widget-content ui-corner-all">
            </div>
          <!-- Allow form submission with keyboard without duplicating the dialog button -->
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
      </form>
    </div>
    <!-- end of add dialog -->

<div id="predobj-dialog" title="Add Predicate Map" style="display:none">
  <p class="validateTips">* fields are required.</p>

  <form>
    <fieldset>
      <label for="predicate">Predicate</label>
      <input type="text" name="predicate" id="predicate" required="required" placeholder="rdfs:label" class="form-control text ui-widget-content ui-corner-all">

      <label for="predobjref">Object Reference</label>
        <select name="predobjref" required="required" id="predobjref" class="form-control ui-widget-content ui-corner-all">
        </select>

        <label for="predobjparenttmap">Parent Triple Map</label>
        <select name="predobjparenttmap" required="required" id="predobjparenttmap" class="form-control ui-widget-content ui-corner-all">
        </select>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
<!-- end of edit dialog -->

<script src="{{ url_for('static', filename='js/libs/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/d3.v3.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/dagre-d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/d3-polygon.v1.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/mapping.js') }}"></script>
{% endblock %}
